body {
	background-color: rgb(211, 255, 248);
}

div {
	animation: stretch 3s linear infinite;

	background-color: rgb(255, 71, 29);
	
	height: 100px;
	width: 0px;
	margin-left: 0px;
	margin-top: 0px;
	
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-100%, -100%);
}

@keyframes stretch {
	from { width: 0px; }
	
	73% { width: 80%; 
		margin-left: 40%; 
		height: 60px; 
		margin-top: -20px; }
		
	to { width: 0px; }
}