header {
    text-align: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    background-image: linear-gradient(rgb(43, 0, 112), rgb(40, 0, 0), rgb(73, 17, 31));
    padding: 5px;
    margin-bottom: 20px;
}

#layout-container {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.icon {
    display: inline-block;
    box-sizing: border-box;
    width: 26.5vmax;
    height: 26.5vmax;
    margin: 3vmax;
    min-width: 200px;
    min-height: 200px;
    padding: 10vmax 0;
    border: 0.2vmax solid black;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.05)
}

.icon-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4vmax;
    line-height: 1;
}

#stretch {
    background-color: rgba(255, 71, 29, 0.9);
}

#cube {
    background-color: rgba(0, 255, 255, 0.9);
}

#more {
    background-color: rgba(255, 183, 29, 0.9);
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@media screen and (max-width:320px) {
    .icon {
        width: 96vmin;
        height: 96vmin;
        margin: 3vmin;
        color: white;
    }
}